:root{
    --red-1: #ED377E;
    --red-2: #E34981;
    --red-3: #FD377E;
    --green-1: #03B898;
    --grey-0: #FFFFFF;
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;
    --grey-5: #343A40;

    --title1: bold 38px;
    --title2: bold 22px;
    --title3: bold 16px;
    --title4: bold 12px;
    --title5: bold 38px;

    --Headline: 16px;

}

