.li_entrada {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  height: 156px;
  border-radius: 4px;
  background-color: var(--grey-1);
  padding: 0.5rem 1rem 1rem;
  margin: 1rem 0;
  border-left: 3px solid var(--green-1);
}
.li_saida {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    height: 156px;
    border-radius: 4px;
    background-color: var(--grey-1);
    padding: 0.5rem 1rem 1rem;
    margin: 1rem 0;
    border-left: 3px solid var(--grey-2);
  }
.h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--grey-4);
}
.p {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--grey-5);
}
.p_value_positivo {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--grey-4);
}
.p_value_negativo {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--grey-4);
}
.button {
  width: 48px;
  height: 19px;
  background-color: var(--grey-2);
  border-radius: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--grey-4);
}
